body {
    /* background-image: url("https://img.freepik.com/free-photo/white-heart-flowers-with-love-card-copy-space_24837-587.jpg?uid=R202261631&semt=ais_hybrid&w=740"); */
    background-color: #F0F4F8;
}
.container {
    background-color: #D9E8F5;
    display: block;
    margin: 100px auto;
    text-align: center;
    width: 50%;
    border-radius: 8px;
    padding: 20px;

}
h1 {
    font-size: 50px;
    margin-top: 30px;
    font-style: italic;
}
h2 {
    font-size: 30px;
    margin-top: 20px;
    font-style: italic;
}
p {
  font-size: 20px;
  font-style: italic;
}

input[type=text] {
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}

/* Empty div - add styles
.guest-list p {
    font-size: 20px;
    color: #333;
    margin: 10px 0;
} */